@model Pojeto_c_.Models.UserViewModel


<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<section>
    <h1>Autenticação</h1>
    <form action="/"></form>
    <input type="text" name="Email" value="" placeholder="Username/Email"> 
    <input type="text" name="password" value=""placeholder="Senha">
    <a href="">Esqueceu a senha?</a>
    
    <button>     Login      </button>

    <label for="#" <a href="# ">Crie aqui!</a>>Não tem conta?</label>

</section>